body{
    text-align: center;
}

#first-set, #second-set, #third-set,#fourth-set,#last-set
{
    margin: 0 15px 0 15px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 30px;
    column-gap: 20px;
    margin-top: 30px;
}

button{
    border: 0.5px solid grey;
    border-radius: 80px;
    font-size: large;
    
}

button:hover{
    background-color: rgb(186, 206, 230);
}

#calculator{
    background-color: rgb(58, 54, 54);
    padding-top: 10px;
    width: 371px;
    position: relative;
    left: 37%;    
    border: 1px solid black;
    border-radius: 50px;
}

#buttons{
    width:300px;
    position: relative;
    left: 4%;    
    padding: 10px 20px 40px 20px;
}

#box{
    padding: 0 0 0 0;
    height: 50px;
    width: 290px;
    margin-top: 10px;

}

.animation{
    opacity: 30%;
}
